package components

import "github.com/alexw1983/monkeycom-go-v2/models"

templ Attributes(character models.Character) {
	<div class="row">
		<div class="col-sm-6">
			<div class="row mb-2">
				<div class="col-sm-12">
					@AttributeBox("Strength", character, character.Strength, []models.Skill{models.Athletics})
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-sm-12">
					@AttributeBox("Dexterity", character, character.Dexterity, []models.Skill{models.Acrobatics, models.SleightOfHand, models.Stealth})
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-sm-12">
					@AttributeBox("Constitution", character, character.Constitution, []models.Skill{})
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row mb-2">
				<div class="col-sm-12">
					@AttributeBox("Intelligence",
						character,
						character.Intelligence,
						[]models.Skill{models.Arcana, models.History, models.Investigation, models.Nature, models.Religion})
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-sm-12">
					@AttributeBox("Wisdom",
						character,
						character.Wisdom,
						[]models.Skill{models.AnimalHandling, models.Insight, models.Medicine, models.Perception, models.Survival})
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-sm-12">
					@AttributeBox("Charisma",
						character,
						character.Charisma,
						[]models.Skill{models.Deception, models.Intimidation, models.Performance, models.Persuasion})
				</div>
			</div>
		</div>
	</div>
}

// func RollSkillURL(c models.Character, s models.Skill) string {
// 	return "/dnd/character/" + c.UserId + "/roll/" + s.String()
// }

// templ SkillRow(c models.Character, s models.Skill) {
// 	<style>
// 	.skill-row {
// 		display: flex;

// 		align-items: flex-end;
// 	}
// 	</style>
// 	<div hx-get={ RollSkillURL(c, s) } class="skill-row">
// 		{ s.String() }
// 		[{ strconv.Itoa(c.GetAttributeBonus(s)) }]
// 		<div>
// 			<input
// 				type="radio"
// 				id="proficient"
// 				onclick="return false;"
// 				if c.IsProficient(s) {
// 					checked
// 				}
// 			/>
// 		</div>
// 		<div>
// 			<input
// 				type="radio"
// 				id="proficient"
// 				onclick="return false;"
// 				if c.HasExpertise(s) {
// 					checked
// 				}
// 			/>
// 		</div>
// 		// <div>
// 		// 	<input
// 		// 		class="form-check-input"
// 		// 		type="radio"
// 		// 		name="inlineRadioOptions"
// 		// 		id="expertise"
// 		// 		value="expertise"
// 		// 		onclick="return false;"
// 		// 		if c.HasExpertise(s) {
// 		// 			checked="checked"
// 		// 		}
// 		// 	/>
// 		// 	// <label class="form-check-label" for="inlineRadio1">1</label>
// 		// </div>
// 	</div>
// 	// <input
// 	// 	class="form-check-input"
// 	// 	type="checkbox"
// 	// 	value=""
// 	// 	onclick="return false;"
// 	// 	id="checkDefault"
// 	// 	if s.Proficient {
// 	// 		checked="checked"
// 	// 	}
// 	// />
// 	// <label class="form-check-label ms-2" for="checkDefault">
// 	// 	{ label }
// 	// </label>
// }
