package components

templ DicePit() {
	<style>
        .dice-pit {
            border: 1px solid black;
            border-radius: 8px;
            padding: 1rem;
            background-color: #f0f0f0;
            margin-bottom: 1rem;
            min-height: 500px;
        }

		#DicePit {
			position:relative;
			padding: 1rem;
			margin: 1rem;
			width: 90%;
			
			background: #ddd;
		}

		.loader {
			position: relative;
			border: 16px solid #f3f3f3;
			border-radius: 50%;
			border-top: 16px solid #3498db;
			width: 70px;
			height: 70px;
			left:40%;
			top:40%;
			-webkit-animation: spin 2s linear infinite; /* Safari */
			animation: spin 2s linear infinite;
		}
		#DiceLoader{
			opacity
			position: absolute;
			top:0px;
			left:0px;
			width: 100%;
			height: 100%;
			background: black;
			opacity: .5;
		}
		.loader-container{
			position:relative;
			height: 300px;
			width: 200px;
			border:1px solid
		}

			/* Safari */
		@-webkit-keyframes spin {
			0% { -webkit-transform: rotate(0deg); }
			100% { -webkit-transform: rotate(360deg); }
		}

		@keyframes spin {
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}

    </style>
	<div class="row">
		<div class="col-sm-12">
			<div class="dice-pit">
				<div class="row">
					<div class="col-8">
						<h6>Dice Pit</h6>
						<p>Roll your dice here!</p>
					</div>
					// <div class="col-4">
					// 	<div id="DiceLoader" class="loading-state htmx-indicator"></div>
					// </div>
					<div id="DicePit" class="loader-container">
						// <div class="loading-state htmx-indicator" id="DiceLoader">
						// 	<div class="loading"></div>
						// </div>
						<div id="DiceLoader">
							<div class="loader"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
