package dnd

import (
	"github.com/alexw1983/monkeycom-go-v2/models"
	"github.com/alexw1983/monkeycom-go-v2/views"
	"github.com/alexw1983/monkeycom-go-v2/views/dnd/components"
	"github.com/markbates/goth"
)

templ Character(user goth.User, character models.Character) {
	@views.Layout(true, character.Name, user) {
		@components.CharacterMeta(character)
		<hr/>
		@components.Attributes(character)
	}
}
