package views

templ Home() {
	@Layout(true, "D&D 5e 2024") {
		<ul>
			<li>
				<a href="/dnd-2024/character-generator">Character Generator</a>
			</li>
			<li>
				<a href="/dnd-2024/characters">Character List</a>
			</li>
		</ul>
	}
}
