package views

import "github.com/markbates/goth"

templ Home(user goth.User) {
	@Layout(true, "D&D 5e 2024", user) {
		<ul>
			<li>
				<a href="/dnd/character-generator">Character Generator</a>
			</li>
			<li>
				<a href="/dnd/characters">Character List</a>
			</li>
		</ul>
	}
}
